# Supabase Configuration
VITE_SUPABASE_URL=https://uzediznrtilifwaxyshd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV6ZWRpem5ydGlsaWZ3YXh5c2hkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1NTEwODIsImV4cCI6MjA5NzEyNzA4Mn0.CAkGIoOlsT3TMtEjw-80y76Rx9jJKWJA4mYGkZPIRiA
